// Specific CSS for your home-page

  // height: 800px;
  // background-image: url('background1.png');
  //
  //
*{
  margin: 0;
  padding: 0;
  margin-right: 3px;
}

#container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
}


.home-body {
 background-color:black;

}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
}
/* The hero image */
.hero-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: asset-url('Rectangle.png');
  background-repeat: no-repeat;
  height: 800px;
  background-size: 10% 10%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  right: 0;

}


.home-content {
  margin-top: 800px;
}

.wrapper {
    text-align: center;
}

#go {
    position: absolute center;
    top: 130%;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 20px;
    padding:5px 20px;
    font-family: 'Roboto', sans-serif;
}

.footer {
  margin-top: auto;
  width: 100%;
  clear:both;
  bottom: 0;
  left: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  font-family: 'Roboto', sans-serif;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

#container{
  border-style: 15px solid #ffffff;


}

.search {
  position: absolute;
  top: 90%;
  right: 38%;

}


.form-control{
  background-color: black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  // border-color: white;
  // border-width: 5px;

}

.tita{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
  border-color: rgb(255, 255, 255);
  // border-width: 7px;
}

.text-center{
  position: absolute;
  top: 115%;
  right: 38%;

}

// .card-event {
//   border: 2px solid white;
// }

.card-title{
  font-family: 'roboto', sans-serif;
  font-weight: bold;
}

.card-text{
  font-family: 'roboto', sans-serif;

}
