// Import page-specific CSS files here.
@import "home";

#top {
    position: absolute;
width: 295px;
height: 39px;
left: 27px;
top: 135px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;

color: #FFFFFF;
}
