<div style="text-align: center;">
  <h1 style="font-size: 50px; padding-bottom: 30px;">Conratulations!</h1>
  <h2 style="color: white; padding-bottom: 30px;"><%= @booking.event.name.capitalize %> was booked successfully</h2>

  <p style="color: white; padding-bottom: 30px;">Confirmation number: <%= rand(1000..3550) %></p>

  <%= link_to 'Your Booked Events', bookings_path, class: "btn btn-dark b-r-1" %>
</div>
