<div class="hero-image position-absolute"></div>


<div class="home-content">
<%= link_to "Events", events_path %>
<h1 class="text-center">Take your Hobbie anywhere!</h1>
<button class="position-center">Go!</button>
</div>
