// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "map";
@import "modal";

body {
    background-color: black;
}

.searchbar{
    position: absolute;
    top: 10%;
    right: 35%;
}

.field {
  background-color: white !important;
  border-radius: 20px;
}
