.modal-content {
  border-radius: 20px;
}
.modal-title {
text-align: center;
padding-top: 2px;
font-weight: bold;
font-size: 30px;
}
.modal-body {
  font-size: 20px;
}

.model-x {
  position: absolute;
  top: 5px;
  right: 15px;
  border-radius: 50%;
  height: 27px;
  width: 27px;
}
.b-r {
  border-radius: 15px;
}

.b-r-1 {
  width: 200px;
  border-radius: 15px;
}
